
.header-wrapper {
	padding: 20px;
	background: green;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.header-wrapper li {
	border-radius: 50%;
	background: #dddddd;
	border: 2px solid #AADDFF;
	margin-right: 10px;
}

.header-wrapper,
.header-wrapper li {
	display: inline-block;
}

.header-wrapper a {
	color: #9933ff;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
}

.main-nav {
	display: inline-block;

}

#signUp {
	float: right;
	display: inline-block;
	margin-top: 15px;
	margin-right: 15px;


}

.main-wrapper {
	background: black;
}

.trickSubmit{
	text-align: center;
	padding: 10px;
	border: 15px ridge #00FFFF;
	margin: 40px auto;
	width: 100%;	
}


body {
	background-color: #f4f7f8;
	font-family: Georgia, serif;
}

form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
	border: none;
}

.userInfo{
	border: 3px solid black;
}


textarea {
	height: 100px;
}

button {
	background-color: #555555;
	color: white;
	text-align: center;
	border-radius: 15%;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}




/* ===========================
Media Queries
=============================*/

@media (max-width: 768px) {
	#signUp {
		margin: auto;
		float: none;

	}
}

@media (min-width: 769px) {
	.main-nav {
	margin-left: 135px;

}
}