
.header-wrapper {
	padding: 20px;
	background: green;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.header-wrapper li {
	border-radius: 50%;
	background: #dddddd;
	border: 2px solid #AADDFF;
	margin-right: 10px;
}

.header-wrapper,
.header-wrapper li {
	display: inline-block;
}

.header-wrapper a {
	color: #9933ff;
	text-decoration: none;
	display: block;

	padding: 10px 20px;
}

.main-nav {
}

#signUp {
	float: right;

	margin-right: 15px;

}

.main-wrapper {
	background: black;
}

.trickSubmit{
	text-align: center;
	padding: 10px;
	border: 15px ridge #00FFFF;
	margin: 40px auto;
	width: 100%;	
}


body {
	background-color: #f4f7f8;
	font-family: Georgia, serif;
}

form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
	border: none;
}

.userInfo{
	border: 3px solid black;
}


textarea {
	height: 100px;
}

button {
	background-color: #555555;
	color: white;
	text-align: center;
	border-radius: 15%;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

/* ===========================
Angular Animations
=============================*/

.Log .ng-hide-add,
.ng-hide-remove {
  transition: all linear 1s;
  display: block !important;
}

.Log .ng-hide-add.ng-hide-add-active,
.ng-hide-remove {
  opacity: 0;
}

.Log .ng-hide-add,
.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}





/* ===========================
Media Queries
=============================*/

@media (max-width: 768px) {
	.main-nav,
	.main-nav li {
		
		

	}
}