body{
	text-align: center;
	padding: 10px;
	border: 15px groove #00FFFF;
	margin: auto;
	width: 30%;
	display: block;
}

form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
	border: none;
}

button {
	background-color: #555555;
	color: white;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
}

.text{
	border: 3px solid black;
}

fieldset {
	margin-bottom: 30px;
	border: none;
}

textarea {
	height: 100px;
}