<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
	    <body>
	    	
	    		<div class="logIn">
	    			<ul>
		    			<li><input type="text" name="userName" ng-model="userName"> User Name </li>
		    			<li><input type="text" name="userPassword" ng-model="userPassword"> User Password</li>
		    			<li><button>Submit</button></li>
	    			</ul>
	    		</div>

	    <script language="JavaScript" type="text/javascript"src= "JavaScript/jquery-1.12.1.js"></script>
	    <script language="JavaScript" type="text/javascript" src="JavaScript/Ajaxctions.js" ></script>	
	    </body>
</html>